.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  background-color: rgb(43, 5, 68);
  color: #f5f5f5;
  padding-left: 25px;
  padding-right: 25px;
  font-size: larger;
}
